[submodule "Vendor/bgfx/bgfx"]
	path = Vendor/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "Vendor/bgfx/bx"]
	path = Vendor/bgfx/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "Vendor/bgfx/bimg"]
	path = Vendor/bgfx/bimg
	url = https://github.com/bkaradzic/bimg.git
